<h1> Log in </h1>

<form action="/profile/create" method="post">
    <label for="">Username: </label>
    <input type="text" name="username">

    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Profile Photo: </label>
    <input type="url" name="image_url">

    <label for="">Password: </label>
    <input type="password" name="password">

    <label for="">Confirm Password: </label>
    <input type="password" name="confirm-password">

    <button> Create Account </button>
</form>