<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> wardrobe++ </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content-wrapper">
      <header>
        <a href="/"><h1>wardrobe++</h1></a>
        <span> 
          <% if logged_in? %>
            Logged in as <a href="/profile"><%= current_user.username %></a>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <button>Sign out</button>
            </form>
            <a href="/new">Sell</a>
          <% else %>
            <a href="/login">Sign in</a>
            <p> Don't have an account? <a href="/profile/create">Sign Up</a>
          <% end %>
        </span>
      </header>
      <nav class="nav-bar">
        <span> <a href="/items/new">New Items</a> </span>
        <span> <a href="/items/jackets">Jackets</a> </span>
        <span> <a href="/items/shirts">Shirts</a> </span>
        <span> <a href="/items/tees">Tees</a> </span>
        <span> <a href="/items/pants">Pants</a> </span>
        <span> <a href="/items/shorts">Shorts</a> </span>
        <span> <a href="/items/shoes">Shoes</a> </span>
        <span> <a href="/items/accessories">Accessories</a> </span>
      </nav>

       <%= yield %>

    </div>
    <footer> © 2022 wardrobe++ </footer>
  </div>

  
</body>
</html>
